@import url('https://fonts.googleapis.com/css2?family=Rationale&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* Body Reset */


body {
    overflow: auto;
    font-family: 'Montserrat', sans-serif;
    color: #000000;
}

a {
    text-decoration: none !important;
    color: black;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
    -webkit-box-shadow: none;
    outline: -webkit-focus-ring-color auto 0px;
}

/* ===== NAVIGATION MENU ====== */

#logo {
    font-family: 'Rationale', sans-serif;
    font-size: 3rem;
    color: white;
    text-transform: uppercase;
}

nav .navbar .bg-light {
    background-color: white !important;
}


.navbar {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: black;
    background-color: black !important;
    letter-spacing: .1rem;
}

.nav-item {
    padding: 1rem;
}

.nav-link-profile {
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-left: -1em;
}

.nav-link {
    color: lightgrey !important;
}

#nav-link:hover {
    color: black !important;
}

/* ===== CONTENT ====== */ 

h1,h2,h3,h4,h5,h6 {
    font-family: 'Lora', serif;
}

h1#title {
    font-size: 3rem;
}

h1#heading {
    font-size: 2.25rem;
}

h3#subtitle {
    font-size: 1.2rem;
}

h3#subheading {
    font-size: 1.1rem;
    color: #656565;
}

h3#subheading2 {
    font-size: 1.5rem;
}



#button {
    width: 205px;
    height: 60px;
    left: calc(50% - 205px/2 - 292.5px);
    padding: 1rem 0;
    background: #1E1E1E;
    color: white;
}

.review-box {
    min-width: 220px;
    min-height: 200px;
    background: #FFFFFF;
    box-shadow: 10px 4px 20px 3px rgba(0, 0, 0, 0.11);
    border-radius: 10px;
}

.review-box-img {
    padding-top: 5%;
}


.information{
    min-width: 50px;
    min-height: 100px;
    background: #cab097;
    box-shadow: 10px 4px 20px 3px rgba(0, 0, 0, 0.11);
    border-radius: 15px;
    color: rgb(54, 53, 53);
    padding-bottom: 10px;
    text-align: center;
    
}

.text{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: bold;
    padding-top: 10%;
    font-size: 25px;
    line-height: 140.62%;
    color: #000000;
    /* text-align: center; */
    
    
}
.review-box:hover {
    min-width: 220px;
    min-height: 200px;
    background: #f1e5cd;
    box-shadow: 10px 4px 20px 3px rgba(0, 0, 0, 0.11);
    border-radius: 10px;
    margin-top: -20px;
    transition-duration: 0.2s;
    
}

.review-box-header {
    font-family: Lato;
    padding-top: 10%;
    padding-left: 10%;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 140.62%;
    color: #000000;
}



.review-box-para {
    font-family: Lato;
    margin-left: 10%;
    max-width: 80%;
    min-height: 60%;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 140.62%;
    padding-bottom: 20px;
    padding-top: 10px;
    
}

.review-box2 {
    text-align: center;
    min-width: 220px;
    min-height: 200px;
    font-family:serif;
    font-style:italic;
    font-weight: bold;
    font-size: 20px;
    line-height: 140.62%;
    color: #000000;
    /* text-align: center; */
    ;
    
}
.review-box2:hover {
    text-align: center;
    min-width: 220px;
    min-height: 200px;
    font-family:serif;
    font-style:italic;
    font-weight: bold;
    font-size: 20px;
    line-height: 140.62%;
    color: #160c0c;
    background-color: rgb(199, 181, 156);
   
    transition-duration: 0.5s;

    
}

.contact-button {
    width: 205px;
    height: 60px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 140.62%;
    color: #FFFFFF;
    background: #1E1E1E; 

}

.contact-button.active, .contact-button:active {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 140.62%;
    color: #FFFFFF;
}

.footer-title {
    font-family: Rationale;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 140.62%;
    color: #000000;
}

.footer-text {
   
    font-family: Lora;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140.62%;
    color: #656565;
}

.footer-copyright {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 140.62%;
    color: #000000;
}

.store-background {
    min-height: 562px;
    background: linear-gradient(90deg, #F3F3F3 0%, rgba(255, 255, 255, 0) 100%), #FFFFFF;
}

.button-huuge {
    width: 283px;
    height: 69px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 1em;
    line-height: 140.62%;
    color: #FFFFFF;
    background: #161616;
    border: 1px solid black;
    border-radius: 13px;
    box-shadow: -6px -6px 0 0 white,
    -6px -6px 0 2px black;
    display: inline-block;
}

.button-huuge.cart {
    width: 80% !important;
}

.button-huuge.blue {
    background: #0071E3 !important; 
}


.textbox {
    width: 339px;
    height: 51px;
    background: #FFFFFF;
    border: 1px solid #C0C0C0;
    box-sizing: border-box;
}


form .txt_field {
    position: relative;
    border-bottom: 2px solid #000000;
    margin: 50px 0;
}



.bold_title {
    margin-top: 5%;
    margin-bottom: 10%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

.txt_field input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 24px;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    background: none;
    outline: one
}

.txt_field label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    transform: translateY(-50%);
    font-size: 18px;
    pointer-events: none;
    transition: .5s;
}

.txt_field span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #000000;
    transition: .5s;
}

.txt_field input:focus ~ label, 
.txt_field input:valid ~ label {
    top: -20px;
    color: #000000;
}

.txt_field input:focus ~ span::before, 
.txt_field input:valid ~ span::before {
    width: 100%;
}

.remember_password {
    position: relative;
  }
  
  .remember_password label {
    background-color: #fff;
    border: 2px solid #A6A6A6;
    border-radius: 50%;
    cursor: pointer;
    height: 22px;
    left: 0;
    position: absolute;
    top: 0;
    width: 22px;
  }
  .remember_password span {
      margin-left: 1em;
  }
  
  .remember_password label:after {
    border: 2px solid #ffffff;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 3px;
    opacity: 0;
    position: absolute;
    top: 4px;
    transform: rotate(-45deg);
    width: 12px;
  }
  
  .remember_password input[type="checkbox"] {
    visibility: hidden;
  }
  
  .remember_password input[type="checkbox"]:checked + label {
    background-color: #000000;
    border-color: #000000;
  }
  
  .remember_password input[type="checkbox"]:checked + label:after {
    opacity: 1;
  }

  .mobile-v {
      width: 100%;
  }

  


/* Bootstrap amendments */

.jumbotron{
    background-size: cover; 
    height: 80vh;
    width: 100%;
    margin-top: -5px;
    box-shadow: 0 0 100px rgba(0,0,0,0.5) inset;
}


#overlay{	
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    height:100%;
    display: none;
    background: rgba(0,0,0,0.6);
  }

  .cv-spinner {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;  
  }
  .spinner {
    width: 40px;
    height: 40px;
    border: 4px #ddd solid;
    border-top: 4px #2e93e6 solid;
    border-radius: 50%;
    animation: sp-anime 0.8s infinite linear;
  }
  @keyframes sp-anime {
    100% { 
      transform: rotate(360deg); 
    }
  }
  .is-hide{
    display:none;
  }


.loading-container {
    position: relative;
    width: 60%;
    height: 10px;
    border-radius: 25px;
    background-color: lightgrey;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 20px;
  }
  .load-bar {
    width: 0%;
    height: 10px;
    background-color: #6C63FF;
    transition: 1s;
  }

#exit {
    font-size: 1.5em;
}

.homepage-times {
    position: absolute;
    margin: 8% 0 20px 50px;
}

.hidden {
    display: none;
    transform: translateY(20%);
  }

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    .footer-2, .footer-3 .mobile-v{
        display: none;
    }
    .mobile-v {
        display: none;
    }

    h1#title {
        font-size: 2em;
    }

    h3#subtitle {
        font-size: 1em;
    }

    h1#heading {
        font-size: 1.5em;
    }

    h3#subheading2 {
        font-size: 1em;
    }

    .jumbotron {
        height: 100vh;
    }
    

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    .footer-2, .footer-3 {
        display: none;
    }
    .mobile-v {
        display: none;
    }

    h1#title {
        font-size: 2em;
    }

    h3#subtitle {
        font-size: 1em;
    }

    h1#heading {
        font-size: 2em;
    }

    h3#subheading2 {
        font-size: 1em;
    }


 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {  }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {  }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }
